<a href="https://colab.research.google.com/github/harshal1507/python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print Function

In [ ]:
print("Hello World");

Hello World

In [ ]:
print("Hello " + "Machine Learning")

Hello Machine Learning

In [ ]:
print(8+3)

11

# Basic Data Types

1. integer
2. float
3. str
4. complex
5. boolean

In [ ]:
type(8)

int

In [ ]:
type(8.3)

float

In [ ]:
type("HELLO")

str

In [ ]:
i = 1 +3j
type(i)

complex

In [ ]:
x = 10
y = float(x)
print(y)

a = 5.33
print(type(int(a)))

10.0
<class 'int'>

In [ ]:
a = True
b = False
print(type(a))
print(b)

<class 'bool'>
False

In [ ]:
# Strings
print("Hello, "*5)

# Slicing
str1 = "programming"
print(str1[1:5]) # end index is excluded

# Step
print(str1[0:10:2])

# String Concatenation
word1 = "Machine"
word2 = "Learning"
print(word1+" "+word2)

Hello, Hello, Hello, Hello, Hello,
rogr
pormi
Machine Learning

# Constants and Variables

In [ ]:
superhero = "Ironman"
print(superhero)

Ironman

In [ ]:
hero1,hero2,hero3 = "Iron man", "Captain America", "Batman"
print(hero1)
print(hero2)
print(hero3)

Iron man
Captain America
Batman

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# Input Function

In [ ]:
number_1 = input("Enter first number : ");
number_2 = input("Enter second number : ");

print(type(number_1));
print(type(number_2));
# type will be str so below method is used to calculate sum

number_3 = int(input("Enter third number : "));
number_4 = int(input("Enter fourth number : "));

sum = number_3 + number_4
print(sum)

Enter first number : 100
Enter second number : 100
<class 'str'>
<class 'str'>
Enter third number : 100
Enter fourth number : 20
120

In [ ]:
# changing datatype in python

num = 5
print(num);
print(float(num));

5
5.0

# Types of Objects in Python

1.   Immutable Objects
2.   Mutable Objects

Immutable Objects

1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects

1. List
2. Set
3. Dictionary

**LIST []**

In [ ]:
# list
list1 = [1,45,"English",True,50.6]
list1.append(6)
print(list1)

# print elements
print(list1[2])

# lists allow duplicate values
list2 = [1,2,3,4,43,676,23,1,2]
print(list2)
print(len(list2))

# initiating an empty list
list3 = []
print(list3)
list3.append(10)
print(list3)

# delete
del list3[0]
print(list3)

# join two lists
list4 = [2,4,6,2,7,3,2]
list5 = [5,2,6]
list6 = list4 + list5
print(list6)

[1, 45, 'English', True, 50.6, 6]
English
[1, 2, 3, 4, 43, 676, 23, 1, 2]
9
[]
[10]
[]
[2, 4, 6, 2, 7, 3, 2, 5, 2, 6]

**TUPLE ()**

In [ ]:
tuple1 = (1,2,4,5)
print(tuple1)
type(tuple1)

# tuple allows multiple data types
tuple2 = (1,4,6.78,"Coding", True)
print(tuple2)

# converting a list to a tuple
list_to_tuple = [3,6,2,9]
print(list_to_tuple)

generated_tuple = tuple(list_to_tuple)
print(generated_tuple)
type(generated_tuple)

print(generated_tuple[2])

# can't use = generated_tuple.append(3) as tuples are immutable
print(len(generated_tuple))

(1, 2, 4, 5)
(1, 4, 6.78, 'Coding', True)
[3, 6, 2, 9]
(3, 6, 2, 9)
2
4

**SET {}**

In [ ]:
# sets doesnot allow duplicate values
set1 = {1,1,3,5,3}
print(set1)
print(type(set1))
print(set1.pop())
print(set1)

# convert a list / tuple to set
list_to_set = [0,5,2,42,2]
tuple_to_set = (2,4,1,6,1)

print(set(list_to_set))
print(set(tuple_to_set))

{1, 3, 5}
<class 'set'>
1
{3, 5}
{0, 2, 42, 5}
{1, 2, 4, 6}

**DICTIONARY (KEY-VALUE PAIR)**

In [ ]:
dict1 = {'name':'David','age':30, 'isEmployed':True}
print(dict1)
type(dict1)

print(dict1['name'])
print(dict1['age'])
print(dict1['isEmployed'])

# dictionary doesnot allow duplicate values
dict2 = {'name':'David','age':30, 'isEmployed':True, 'name':'David','age':30, 'isEmployed':True}
print(dict2)

{'name': 'David', 'age': 30, 'isEmployed': True}
David
30
True
{'name': 'David', 'age': 30, 'isEmployed': True}

# Operators in Python

1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arithmetic Operators

In [ ]:
num1 = 10
num2 = 20

sum = num1 + num2
print("sum",sum)

diff = num1 - num2
print("diff",diff)

product = num1 * num2
print("product",product)

divison = num1 / num2
print("divison",divison)

exp = num1 ** num2
print("exponent",exp)

modulus = num1 % num2
print("remainder",modulus)

sum 30
diff -10
product 200
divison 0.5
exponent 100000000000000000000
remainder 10

2. Assignment Operators

In [ ]:
# +=
# -=
# *=
# /=
# **=
# %=


a = 5
a += 5
print(a)

b = 5
b -= 2
print(b)

10
3

3. Comparison Operators

In [ ]:
a = 5
b = 10

print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a > b)
print(a < b)

False
True
True
False
False
True

4. Logical Operators

In [ ]:
a = 10

print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

5. Identity Operators

In [ ]:
x = 5
y = 10

print(x is y)
print(x is not y)

False
True

6. Membership Operators

In [ ]:
# in
# not in

a = 5
b = 10
c = [1,2,3,4,5,6]

print(a in c)
print(b not in c)
print(a not in c)

True
True
False

# If Elif Else Statements

In [ ]:
a = 30
b = 50

if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if(a>b):
    print("first is greater than second")
else:
    print("second is greater than first")

Enter first number: 100
Enter second number: 150
second is greater than first

In [ ]:
a = 350
b = 200
c = 400

if(b<a>c):
    print("a is the greatest number")
elif(a<b>c):
    print("b is the greatest number")
else:
    print("c is the greatest number")

c is the greatest number

In [ ]:
# nested if

a = 350
b = 500
c = 400

if(a>b):
    if(a>c):
        print("a is the greatest number")
    else:
        print("c is the greatest number")
else:
    if(b>c):
        print("b is the greatest number")
    else:
        print("c is the greatest number")

b is the greatest number

# Loops

In [ ]:
for i in range(5):
    laptop_price = int(input("Enter laptop price: "))

Enter laptop price: 2
Enter laptop price: 3
Enter laptop price: 4
Enter laptop price: 5
Enter laptop price: 6

In [ ]:
numbers = [34,546,2,6,353,25,7]

for i in numbers:
    print(i)

34
546
2
6
353
25
7

In [ ]:
# while loop

i = 0
j = 5

while(i < 10):
    print(i)
    i += 1

while j<3:
    print(i)
    j += 1

0
1
2
3
4
5
6
7
8
9

# Functions

In [ ]:
def factorial(num):
    factorial = 1;

    if(num == 0):
        return;
    else:
        for i in range(1, num+1):
            factorial = factorial * i
        return factorial;

print(factorial(5))

120